#
# Build ignores
#
#.*
*.o
*.o.*
*.a
*.so
*.so.*
*.1.gz

#
# Never ignore these
#
!.gitignore

#
# Normal output and testing dirs
#
/?dupes
/?dupes-jody
/?dupes*.exe

#
# Backups / patches
#
*~
*.orig
*.rej
/*.patch

#
# debugging stuff
#
core
.gdb_history
.gdbinit

# Mac OS
.DS_Store
